/*------------
-----FONTS---
-------------*/

/*VARIAVEIS-CORES*/
:root{
   --vermelho:#E50914;
   --preta: #000000;
  
}

/*RESETES PAGE*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;/*DIFINE O LIMITE DA CAIXA*/

}/*FORMATAÇÕES DE BODY PRE-SETADOS*/

body{
min-width: 100px;
background-color: var(--preta);
font-family:Arial, Helvetica, sans-serif;
font-weight: bold;
color: aliceblue;


}
/*-------------------------
------START HEADER STYLE---
--------------------------*/
.container-link{
    width: 100%;
    background-color: rgb(5, 5, 5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-weight: bold;
    position: fixed;
    z-index: 999;
    
   
}
.logo{
    color: var(--vermelho);
    font-weight: bold;
    font-size: 28px;
    transition: 0.5s;
    cursor: pointer;
    
}
.logo:hover{
    color: white;
    
    
}
.links-nav a{

padding: 5px;
text-decoration: none;
color: rgb(255, 255, 255);
font-weight: bold;
padding-right: 20px;
transition: 0.5s;

}
.links-nav a:hover{
    color: var(--vermelho);
}
/*-------------------------
------END HEADER STYLE---
--------------------------*/


/*-------------------------
------START BODY STYLE--MAIN---
--------------------------*/
.container-post{
    margin-left: 35px;
    
}
.poster-principal{
font-size: 18px;
background-image: linear-gradient(rgb(0, 0, 0),rgba(0,0,0,.5)25%), url(../imagens/capa-lucifer.jpg);
height: 500px;
background-size: cover;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
min-width: 100%;
animation: zoom 4s ;

}
@keyframes zoom{

    0%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }

}

.titulo-poster{
  font-size: 75px;
  margin-bottom: 5px;
  font-family:helvetica;
  animation: animaTexto 3s ;
  
}

.sinopse{
    margin-bottom: 75px ;
   font-family: sans-serif;
   animation: animaTexto 4s ;
   max-width: 75%;
}
.botao{
    height: 40px;
    width: 165px;
    margin-right: 15px;
    background: rgba(92, 87, 87, 0.486);
    color: white;
    border-radius: 1px;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    border: none;
    cursor: pointer;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.textos{
    animation: animaTexto 6s;
}

.botao:hover{
    background-color: rgb(253, 253, 253);
    color: #000000;
 }


@keyframes animaTexto{

    0%{
        transform: translateY(50rem) 
    }
    100%{
        transform: translateY(1);
        opacity: 1;
    }
}
@keyframes botao{
    0%{
        transform: translateY(50rem)
    }
    100%{
        transform: scale(1);
    }
}



 /*-------------------------
------START BODY STYLE--MAIN---
--------------------------*/

/*-------------------------------------
------START STYLE--CARROSEL LISTAS-----
--------------------------------------*/
.box-filmes{
    height: 100%;
    width: 100%;
    display: block;
    background-image: linear-gradient(rgb(0, 0, 0),rgba(0,0,0,.5)25%), url(../imagens/capa-lucifer.jpg);
    
    
}
.container-titulo-serie{
   margin: 5px;
   font-size: 25px;
   
}
.container-titulo-filme{
   margin: 5px;
    font-size: 25px;
   
 }
 
 
 
/*-------------------------------------
------END STYLE--CARROSEL LISTAS-----
--------------------------------------*/
/*--------------
---FOOTER-------
---------------*/
.footer{
   text-align: center;
   
    
}
.conteiner-footer{
    background-color: rgba(32, 29, 29, 0.808);
    padding: 50px;
}

.box-filmes img{
    
        padding: 50px;
        transition: transform .3s; /* Animation */
        width: 150px;
        height: 150px;
        margin: 0 auto;
      
      

      
    }
    .box-filmes:hover {
        transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }

    .option  {
        display: flex;
        background-color: #E50914;
        margin-top: 5px;
        z-index: 999;
        text-decoration: none;
        border: none;
        flex-direction: row;
        margin-left: 2px;
        margin-top: 20px;
        height: 35px;
        width: 130px;
        display: inline-block;
        cursor: pointer;
    }
    .container-botao {
        display: flex;
        cursor: pointer;

    }
    .option:hover{
        color:white;
        background-color: rgb(31, 31, 31);
    }





    /*-----------------*/
    .modal{
        
        position: fixed;
        padding: 0;
        left:0;
        top: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        z-index: 999;
        background-color: rgba(255, 255, 255, 0.452);
        transform: scale(1.1);
        backdrop-filter: blur(1rem);
        
        opacity: 0;
        visibility: hidden;
        transition: visibility 0.25s ease-in-out, transform 0.25s ease-in-out , opacity 0.25s ease-in-out;
       
    }
    .modal-content{
        background-color: rgba(20, 20, 20, 0.774);
        padding: 16px 25px;
        width: 650px;
        height: 75%;
        color: rgb(247, 247, 247);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        

    }
    .modal{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .modal h2{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 50px;
        margin-bottom: 30px;
  
    }
    .modal-botao{
       margin-top: 300px;
       width: 120px;
       background-color: rgb(153, 51, 51);
        border: none;
        height: 50px;
        color: white;
        padding: 10px;
        cursor: pointer;
        transition: 0.1s;
    }
    .modal-botao:hover{
        background-color: black;
        color: white;
    }
   
   

    .modal-content span{
     position: relative;
     display: flex;
     align-items: center;
     justify-content: center;
     z-index: 9999;
     margin-bottom: 70%;
     font-size: 24px;
     cursor: pointer;
     margin-right: -65px;
  
   
    }
    .modal-content img{
        height: 350px;
        width: 200px;
        
        
    }

    .show-modal{
        opacity: 1;
        visibility: visible;
        transform: scale(1.0);
    }

/*------------MODAL ILHA---------------------------*/
.modalILHA{
        
    position: fixed;
    padding: 0;
    left:0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.452);
    transform: scale(1.1);
    backdrop-filter: blur(1rem);
    
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.25s ease-in-out, transform 0.25s ease-in-out , opacity 0.25s ease-in-out;
   
}
.modal-contentILHA{
    background-color: rgba(20, 20, 20, 0.774);
    padding: 16px 25px;
    width: 650px;
    height: 75%;
    color: rgb(247, 247, 247);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    

}
.modalILHA{
    display: flex;
    align-items: center;
    justify-content: center;
}
.modalILHA h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-bottom: 30px;

}
.modal-botaoILHA{
   margin-top: 300px;
   width: 120px;
   background-color: rgb(153, 51, 51);
    border: none;
    height: 50px;
    color: white;
    padding: 10px;
    cursor: pointer;
    transition: 0.1s;
}
.modal-botaoILHA:hover{
    background-color: black;
    color: white;
}



.modal-contentILHA span{
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
 z-index: 9999;
 margin-bottom: 70%;
 font-size: 24px;
 cursor: pointer;
 margin-right: -65px;


}
.modal-contentILHA img{
    height: 350px;
    width: 200px;
    
    
}

.show-modalILHA{
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
}

/*---------------------MODAL LOKI-----------------------------------*/
.modalLOKI{
        
    position: fixed;
    padding: 0;
    left:0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.452);
    transform: scale(1.1);
    backdrop-filter: blur(1rem);
    
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.25s ease-in-out, transform 0.25s ease-in-out , opacity 0.25s ease-in-out;
   
}
.modal-contentLOKI{
    background-color: rgba(20, 20, 20, 0.774);
    padding: 16px 25px;
    width: 650px;
    height: 75%;
    color: rgb(247, 247, 247);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    

}
.modalLOKI{
    display: flex;
    align-items: center;
    justify-content: center;
}
.modalLOKI h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-bottom: 30px;
    font-size: 17px;

}
.modal-botaoLOKI{
   margin-top: 300px;
   width: 120px;
   background-color: rgb(153, 51, 51);
    border: none;
    height: 50px;
    color: white;
    padding: 10px;
    cursor: pointer;
    transition: 0.1s;
}
.modal-botaoLOKI:hover{
    background-color: black;
    color: white;
}



.modal-contentLOKI span{
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
 z-index: 9999;
 margin-bottom: 70%;
 font-size: 24px;
 cursor: pointer;
 margin-right: -65px;


}
.modal-contentLOKI img{
    height: 350px;
    width: 200px;
    
    
}

.show-modalLOKI{
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
}

/*---FINAL LOKI --------------------*/
/*---------------------------MODAL FREYS ANATOMY-------------------------------*/

.modalGREYS{
        
    position: fixed;
    padding: 0;
    left:0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.452);
    transform: scale(1.1);
    backdrop-filter: blur(1rem);
    
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.25s ease-in-out, transform 0.25s ease-in-out , opacity 0.25s ease-in-out;
   
}
.modal-contentGREYS{
    background-color: rgba(20, 20, 20, 0.774);
    padding: 16px 25px;
    width: 650px;
    height: 75%;
    color: rgb(247, 247, 247);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    

}
.modalGREYS{
    display: flex;
    align-items: center;
    justify-content: center;
}
.modalGREYS h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-bottom: 30px;
    font-size: 17px;

}
.modal-botaoGREYS{
   margin-top: 300px;
   width: 120px;
   background-color: rgb(153, 51, 51);
    border: none;
    height: 50px;
    color: white;
    padding: 10px;
    cursor: pointer;
    transition: 0.1s;
}
.modal-botaoGREYS:hover{
    background-color: black;
    color: white;
}



.modal-contentGREYS span{
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
 z-index: 9999;
 margin-bottom: 70%;
 font-size: 24px;
 cursor: pointer;
 margin-right: -65px;


}
.modal-contentGREYS img{
    height: 350px;
    width: 200px;
    
    
}

.show-modalGREYS{
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
}

/*------------------------FLASH MODAL-------------------------------------*/
.modalFLASH{
        
    position: fixed;
    padding: 0;
    left:0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.452);
    transform: scale(1.1);
    backdrop-filter: blur(1rem);
    
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.25s ease-in-out, transform 0.25s ease-in-out , opacity 0.25s ease-in-out;
   
}
.modal-contentFLASH{
    background-color: rgba(20, 20, 20, 0.774);
    padding: 16px 25px;
    width: 650px;
    height: 75%;
    color: rgb(247, 247, 247);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    

}
.modalFLASH{
    display: flex;
    align-items: center;
    justify-content: center;
}
.modalFLASH h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-bottom: 30px;
    font-size: 17px;

}
.modal-botaoFLASH{
   margin-top: 300px;
   width: 120px;
   background-color: rgb(153, 51, 51);
    border: none;
    height: 50px;
    color: white;
    padding: 10px;
    cursor: pointer;
    transition: 0.1s;
}
.modal-botaoFLASH:hover{
    background-color: black;
    color: white;
}



.modal-contentFLASH span{
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
 z-index: 9999;
 margin-bottom: 70%;
 font-size: 24px;
 cursor: pointer;
 margin-right: -65px;


}
.modal-contentFLASH img{
    height: 350px;
    width: 200px;
    
    
}

.show-modalFLASH{
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
}
/*-------------------------------END FLASH MODAL--------------------------------*/

/*---------------------------STAR GIRL----------------------------*/

.modalSTAR{
        
    position: fixed;
    padding: 0;
    left:0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.452);
    transform: scale(1.1);
    backdrop-filter: blur(1rem);
    
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.25s ease-in-out, transform 0.25s ease-in-out , opacity 0.25s ease-in-out;
   
}
.modal-contentSTAR{
    background-color: rgba(20, 20, 20, 0.774);
    padding: 16px 25px;
    width: 650px;
    height: 75%;
    color: rgb(247, 247, 247);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    

}
.modalSTAR{
    display: flex;
    align-items: center;
    justify-content: center;
}
.modalSTAR h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-bottom: 30px;
    font-size: 17px;

}
.modal-botaoSTAR{
   margin-top: 300px;
   width: 120px;
   background-color: rgb(153, 51, 51);
    border: none;
    height: 50px;
    color: white;
    padding: 10px;
    cursor: pointer;
    transition: 0.1s;
}
.modal-botaoSTAR:hover{
    background-color: black;
    color: white;
}



.modal-contentSTAR span{
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
 z-index: 9999;
 margin-bottom: 70%;
 font-size: 24px;
 cursor: pointer;
 margin-right: -65px;


}
.modal-contentSTAR img{
    height: 350px;
    width: 200px;
    
    
}

.show-modalSTAR{
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
}
/*-------------------END STARGIRL-------------------------------*/
/*---------------------------------RIVERDALE MODAL-----------------------*/

.modalRIVER{
        
    position: fixed;
    padding: 0;
    left:0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.452);
    transform: scale(1.1);
    backdrop-filter: blur(1rem);
    
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.25s ease-in-out, transform 0.25s ease-in-out , opacity 0.25s ease-in-out;
   
}
.modal-contentRIVER{
    background-color: rgba(20, 20, 20, 0.774);
    padding: 16px 25px;
    width: 650px;
    height: 75%;
    color: rgb(247, 247, 247);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    

}
.modalRIVER{
    display: flex;
    align-items: center;
    justify-content: center;
}
.modalRIVER h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-bottom: 30px;
    font-size: 17px;

}
.modal-botaoRIVER{
   margin-top: 300px;
   width: 120px;
   background-color: rgb(153, 51, 51);
    border: none;
    height: 50px;
    color: white;
    padding: 10px;
    cursor: pointer;
    transition: 0.1s;
}
.modal-botaoRIVER:hover{
    background-color: black;
    color: white;
}



.modal-contentRIVER span{
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
 z-index: 9999;
 margin-bottom: 70%;
 font-size: 24px;
 cursor: pointer;
 margin-right: -65px;


}
.modal-contentRIVER img{
    height: 350px;
    width: 200px;
    
    
}

.show-modalRIVER{
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
}
/*-----------------------------------END RIVERDALE MODAL--------------------------------------*/
/*---------------------START MODAL STARGIRL----------------------*/

.modalSTAR{
        
    position: fixed;
    padding: 0;
    left:0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.452);
    transform: scale(1.1);
    backdrop-filter: blur(1rem);
    
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.25s ease-in-out, transform 0.25s ease-in-out , opacity 0.25s ease-in-out;
   
}
.modal-contentSTAR{
    background-color: rgba(20, 20, 20, 0.774);
    padding: 16px 25px;
    width: 650px;
    height: 75%;
    color: rgb(247, 247, 247);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    

}
.modalSTAR{
    display: flex;
    align-items: center;
    justify-content: center;
}
.modalSTAR h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-bottom: 30px;
    font-size: 17px;

}
.modal-botaoSTAR{
   margin-top: 300px;
   width: 120px;
   background-color: rgb(153, 51, 51);
    border: none;
    height: 50px;
    color: white;
    padding: 10px;
    cursor: pointer;
    transition: 0.1s;
}
.modal-botaoSTAR:hover{
    background-color: black;
    color: white;
}



.modal-contentSTAR span{
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
 z-index: 9999;
 margin-bottom: 70%;
 font-size: 24px;
 cursor: pointer;
 margin-right: -65px;


}
.modal-contentSTAR img{
    height: 350px;
    width: 200px;
    
    
}

.show-modalSTAR{
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
}


/*-----------------------------------END MODAL STARGIRL--------------------------------------*/

/*-----------------------------------START MODAL FLASH--------------------------------------*/


.modalFLASH{
        
    position: fixed;
    padding: 0;
    left:0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.452);
    transform: scale(1.1);
    backdrop-filter: blur(1rem);
    
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.25s ease-in-out, transform 0.25s ease-in-out , opacity 0.25s ease-in-out;
   
}
.modal-contentFLASH{
    background-color: rgba(20, 20, 20, 0.774);
    padding: 16px 25px;
    width: 650px;
    height: 75%;
    color: rgb(247, 247, 247);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    

}
.modalFLASH{
    display: flex;
    align-items: center;
    justify-content: center;
}
.modalFLASH h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-bottom: 30px;
    font-size: 17px;

}
.modal-botaoFLASH{
   margin-top: 300px;
   width: 120px;
   background-color: rgb(153, 51, 51);
    border: none;
    height: 50px;
    color: white;
    padding: 10px;
    cursor: pointer;
    transition: 0.1s;
}
.modal-botaoFLASH:hover{
    background-color: black;
    color: white;
}



.modal-contentFLASH span{
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
 z-index: 9999;
 margin-bottom: 70%;
 font-size: 24px;
 cursor: pointer;
 margin-right: -65px;


}
.modal-contentFLASH img{
    height: 350px;
    width: 200px;
    
    
}

.show-modalFLASH{
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
}

.infor a{
    color: red;
    text-decoration: none;
    cursor: pointer;

}

.infor a:hover{
    color: rgb(255, 254, 254);
    

}